// app global css
.q-if::before {
  border-bottom: 1px solid #BDBDBD !important;
}

.q-focus-helper {
  opacity: 0 !important;
}

.primary-dark:hover {
  background-color: #375A64 !important;
}

.bordaVerde {
  border-top: 4px solid #39B54A !important;
  border-radius: 5px !important;
}

.bordaAmarela {
  border-top: 4px solid #FDC300 !important;
  border-radius: 5px !important;
}

.bordaVermelha {
  border-top: 4px solid #ED1C24 !important;
  border-radius: 5px !important;
}

.perfilmini {
  background-color: #B0BEC5 !important;
  border: 3px solid #88A5B0 !important;
  color: #375A64 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.perfilmini:hover {
  background-color: #88A5B0 !important;
  border: none !important;
  transition: all 200ms ease-in !important;
}

.zoom:hover {
  z-index: 2 !important;
  transition: all 200ms ease-in !important;
  transform: scale(1.3) !important;
}
