// app global css
.border-dark {
  border-top: 1px solid #424242;
  border-left: 1px solid #424242;
  border-right: 1px solid #424242;
  box-shadow: none;
}

.border-light {
  border: 1px solid alpha(#375A64, 70%) /* #BDBDBD */;
  box-shadow: none;
}

.hover:hover {
  background-color: alpha(#424242, 50%) !important;
}

.q-if::before {
  border-bottom: 1px solid #bdbdbd;
}

.bordaVerde {
  border-top: 4px solid #39b54a;
  border-radius: 5px;
}

.bordaAmarela {
  border-top: 4px solid #fdc300;
  border-radius: 5px;
}

.bordaVermelha {
  border-top: 4px solid #ed1c24;
  border-radius: 5px;
}
